---
import "@/styles/global.css";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Greeting from "@/components/Greeting";

const pageTitle = "Home";
const messages = ["Hola", "Hello", "Heya", "Hiii", "Whatsup", "Wazzaaaaap"];
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={messages} />
</BaseLayout>
