---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    Learn more about my projects on <Social
      platform="github"
      username="varun-d"
    />
  </p>
  <p>Follow me on <Social platform="instagram" username="vary_d" /></p>
</footer>
