---
import "../styles/global.css";
import Hamburger from "@/components/HamMenu.astro";
import Nav from "@/components/Nav.astro";
---

<header class="flex gap-1 mt-2">
  <nav>
    <Hamburger />
    <Nav />
  </nav>
</header>
